In [1]:
import pandas as pd
import numpy as np
import glob
import os

In [17]:
df = pd.read_csv('power-consumption/household-power-consumption-p1.txt', sep=';',
                 parse_dates={'dt':['Date','Time']}, infer_datetime_format=True,
                 low_memory=False, na_values=['nan','?'], index_col='dt')

In [21]:
path = 'power-consumption/'
files = glob.glob(os.path.join(path, "*.txt"))
multi_file_df = (pd.read_csv(file, sep=';', low_memory=True, na_values=['nan','?'],
                             header=0) for file in files)
df = pd.concat(multi_file_df, axis=0, ignore_index=True)

In [22]:
df

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
...,...,...,...,...,...,...,...,...,...
2075254,26/11/2010,20:58:00,0.946,0.000,240.43,4.0,0.0,0.0,0.0
2075255,26/11/2010,20:59:00,0.944,0.000,240.00,4.0,0.0,0.0,0.0
2075256,26/11/2010,21:00:00,0.938,0.000,239.82,3.8,0.0,0.0,0.0
2075257,26/11/2010,21:01:00,0.934,0.000,239.70,3.8,0.0,0.0,0.0
2075258,26/11/2010,21:02:00,0.932,0.000,239.55,3.8,0.0,0.0,0.0